---
# Only the main Sass file needs front matter (the dashes are enough)
# use 64x64 image for logo 
---

@import "minima";

.site-title {
    content: url("/assets/mini_logo.png");
    display: inline-block;
    position: relative;
    width: 90 px;
    top: 10px;
    padding-right: 10px;
}